{% extends 'base.html' %}

{% load static %}
{% block extra-head%}
<link rel="stylesheet" href="/static/landing.css?{% now "U" %}"/>

{%endblock%}

{% block otherpages %}
{% include 'modal.html' %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'landing.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django Project</title>
    </head>

<div class="content-container">

       
    </div>

{%endblock%}
