{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'lab.css' %}?{% now "U" %}">
<style>
    /* Hide the carousel */
    .carousel-inner {
    display: none !important;
    }
</style>
{% endblock %}

{% block otherpages %}
<div class = "coverpic">
    <img src = "{% static 'img/dataengineering.jpeg' %}"style="object-fit: cover; object-position: 0% 50%;">
    <a></a>
</div>
<div class="labcontainer">
    <h1>Data Engineering Lab</h1>
    <h2>Description about data engineering lab will be included here.
        <br>Description about data engineering lab will be included here.
        <br>Description about data engineering lab will be included here.
    </h2>
    </div>

{% endblock %}