<!-- base.html -->
<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'static/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik&display=swap" rel="stylesheet">
    <title></title>
    {% block extra-head %}
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        <header>
            {% include "header.html" %}
        </header>
        <main>
            {% block otherpages %}
            {% endblock %}
        </main>
        <footer>
            {% include "footer.html" %}
        </footer>
    </div>
</body>
</html>
