{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}?{% now 'U' %}"/>



<div class="fixed-header">

    <div class="topbanner">
        <img src="/static/img/ulogo2.png"class="toplogo" alt="top u logo" width="700">
        <a href="{% url 'landing:landing' %}">

    </div>

    <div class="header-container">
        <div class="header_logo">
            <a href="{% url 'landing:landing' %}">
                <img src="{% static 'img/teklogo2.png' %}" style="height: 150px;" alt="Logo">
            </a>
        </div>

        <div class="nav-links">
            <!--<input type="checkbox" id="nav-toggle" class="nav-toggle">
            <label for="nav-toggle" class="nav-toggle-label">
                ☰ <!-- Unicode character for hamburger icon -->
            </label>
            <ul class="menu"> 
                <li><a href="{% url 'about:about' %}">About</a></li>
                <li><a href="{% url 'news:announcement' %}">News</a>
                    <ul class="submenu">
                        <li><a href="{% url 'news:announcement' %}">Announcement</a></li>
                        <li><a href="{% url 'news:event' %}">Event</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'lab:lab1' %}">Labs</a>
                    <ul class="submenu">
                        <li><a href="{% url 'lab:lab1' %}">Frontend Development</a></li>
                        <li><a href="{% url 'lab:lab2' %}">Data Visualization</a></li>
                        <li><a href="{% url 'lab:lab3' %}">Data Engineering</a></li>
                        <li><a href="{% url 'lab:lab4' %}">Excel</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'joinus:apply' %}">Join Us</a>
                    <ul class="submenu">
                        <li><a href="{% url 'joinus:apply' %}">Apply</a></li>
                        <li><a href="{% url 'joinus:contact' %}">Contact</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
    <!-- Carousel background -->
    <!--<div class="carousel-item"></div>-->
    <!-- Carousel Items (Background Images) -->
<div class="carousel-inner" style="width: 100%; display: block; clear: both;">
    <div class="carousel-item active">
        <div class="carousel-image">
            <img src="{% static 'img/tech.jpg' %}" 
                alt="carousel image" 
                style="width: 100%; height: 100%; object-fit: cover; display: block;">
        </div>
        <div class="carousel-caption carousel-caption-custom">
            <h5>Welcome to Tek club</h5>
        </div>
    </div>
</div>